@import "../../global.scss";
.intro{
    background-color: aliceblue;
    display: flex;

    .left{
        flex: 0.5;
        .imgContainer{
            width: calc(100vh);
            height: calc(100vh - 70px);
            //background-color: rgba(188,74,60, 0.737);
            background-color: rgba(0, 217, 217, 0.874);
            border-radius: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 1s ease;
            

            img{
                height: 100%;
                object-fit: contain;

                
            }
            &.active{
                background-color: $mainColor;
                transition: all 1s ease;
            }
        }
        
    }

    .right{
        flex: 0.5;
        position: relative;
        float: left;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: baseline;
            
            h1{
                font-size: 40px;
                margin: 10px 0;

            }
            h2{
                font-size: 25px;
                font-style: italic;

            }
            h3{
                font-size: 20px;
                margin: 5px 0;

                
            }
            span{
                font-size: inherit;
                color: rgb(0, 147, 147) ;
                font-weight: normal;
            }

            

            
        }
        a{
            position: absolute;
            bottom: 10px;
            left: 40%;//this is padding

            img{
                width: 30px;
                animation: arrowBlink 2s infinite;


            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
        
    }
}